/********************************************************************************
 * Copyright (c) 2021 Eclipse Foundation, OW2, OpenForum Europe and others 
 * 
 * This website and the accompanying materials are made available under the
 * terms of the Creative Commons Attribution 4.0 (International) License which
 * is available at https://creativecommons.org/licenses/by/4.0/.
 * 
 * SPDX-License-Identifier: CC-BY-4.0
 ********************************************************************************/

@import '~eclipsefdn-solstice-assets/less/quicksilver/styles.less';
@import '_variables.less';

.ospo-zone-members .members-img {
    max-height: 95px;
    max-width: 170px;
    padding: 10px;
}

.ospo-zone-members ul li {
    margin-bottom: 20px;
}

@media (min-width: @screen-sm-min) {
  #header-wrapper {
    padding-top:20px;
  }
}

#main-menu a {
  font-weight: 900;
}

#main-menu ul ul a {
  font-weight: 600;
}

.logo-eclipse-default-mobile {
  max-width: 160px;
}

.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

// Jumbotron
.featured-jumbotron {
  background: @jumbotron-bg-color url(images/banners/home-jumbotron.jpg);
  padding: 6rem 6rem;
  text-align: left;
  h1 {
    &:after {
      border: none;
      height: 0;
    }
    span {
      color: @brand-primary;
    }
  }
  .list-inline {
    margin-top: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .jumbotron-content {
    background: rgba(15, 13, 76, 0.6);
    border-radius: 25px;
    padding: 4rem 2.5rem;
    margin-top: 10rem;
    p {
      font-size: 1.6rem;
      font-weight: 600;
    }
    .btn {
      margin: 1rem 0;
    }
  }

  .jumbotron-image {
    display: block;
    position: absolute;
    top: -3rem;
    right: -3rem;
    img {
      height: 70px;
    }
  }

  background-position: top;
  background-size: cover;
  @media (min-width: @screen-md-min) {
    padding: 20rem 10rem 10rem 10rem;
    .jumbotron-image {
      top: -11rem;
      right: -11rem;
      img {
        height: auto;
      }
    }
  }
  .jumbotron-tagline {
    padding: 0 1.3rem;
  }
}

// Homepage Section: Discover
.section-home-discover__column {
  padding: 3rem 3rem 1.5rem;
  h3 a{
    color: inherit;
  }
}

.section-home-discover {
  padding: 7rem 3rem;
  p {
    line-height: 2.3rem;
  }
}

.section-home-discover__intro {
  padding-bottom: 3rem;
}

// Homepage Section: Documents & Tools
.section-home-dt {
  color: #fff;
  text-align: center;
  min-height: 300px;

  img {
    width: 100px;
    height: 100px;
  }
  h3 {
    color: #fff;
    font-weight: 900;
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }
  a {
    color: #00c2c2;
  }
  ul {
    list-style-position: inside;
    margin: 0;
    padding: 0px;
  }
  .col-md-12 {
    padding-bottom: 5em;
  }
  .column {
    padding: 6rem 3rem;
    background-position: top left;
    background-size: cover;
  }
  @media (min-width: @screen-md-min) {
    display: -webkit-flex; /* Safari */
    display: flex; /* Standard syntax */
    .column {
      padding: 10rem;
      -webkit-flex: 1; /* Safari */
      -ms-flex: 1; /* IE 10 */
      flex: 1; /* Standard syntax */
    }
  }
}

.section-home-dt__left {
  background: @brand-primary url(images/banners/home-dt-left.jpg);
}

.section-home-dt__right {
  background: @brand-secondary url(images/banners/home-dt-right.jpg);

  // Make sure the 2 icons and headers won't overlap on each other in smaller sizes
  @media (max-width: 1300px) {
    img {
      width: 60px;
      height: 60px;
    }
    h3{
      font-size: 2.5rem;
    }
  }
}

// Homepage Section: Help
.section-home-help {
  padding: 10rem 3rem;
  p {
    line-height: 2.3rem;
  }
  ul.list-inline {
    margin-top: 3rem;
    margin-bottom: 0;
    li {
      margin-bottom: 1rem;
    }
  }
  .btn {
    min-width: 230px;
  }
}

// Template: Footer
footer#solstice-footer {
  background: -moz-linear-gradient(
    0deg,
    rgba(15, 13, 76, 1) 0%,
    rgba(26, 23, 126, 1) 34%,
    rgba(29, 25, 143, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(15, 13, 76, 1) 0%,
    rgba(26, 23, 126, 1) 34%,
    rgba(29, 25, 143, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(15, 13, 76, 1) 0%,
    rgba(26, 23, 126, 1) 34%,
    rgba(29, 25, 143, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0d4c",endColorstr="#1d198f",GradientType=1);
}

.section-home-launched {
  & {
    margin-bottom: 40px;
  }
  img {
    margin: 0px 30px;
  }
}

.hosted-by{
  margin-bottom: 20px;
}

#footer-legal{
  .nav{
    display: flex;
    justify-content: center;
  }
}
