<!--
 Copyright (c) 2021 Eclipse Foundation, OW2, OpenForum Europe and others 
  
 This website and the accompanying materials are made available under the
 terms of the Creative Commons Attribution 4.0 (International) License which
 is available at https://creativecommons.org/licenses/by/4.0/.
 
 SPDX-License-Identifier: CC-BY-4.0
-->
<div class="flex-container section-home-dt" id="documents">
  <div class="section-home-dt__left column hidden-xs hidden-sm"></div>
  <div class="section-home-dt__right column">
    <div class="col-md-12">
      <img
        src="images/icons/icon-file.png"
        alt="Documents icon"
        />
      <h3>Documents</h3>
      <ul>
        <li><a href="/position-paper">Position paper</a></li>
        <li><a href="/contribute">How to contribute</a></li>
      </ul>
    </div>
    <div class="col-md-12">
      <img
        src="images/icons/icon-tools.png"
        alt="Tools icon"
        />
      <h3>Tools</h3>
      <p>Join the conversation on the <a href="https://accounts.eclipse.org/mailing-list/ospo.zone">OSPO Zone mailing list</a>.
      <p>Read the Good Governance Initiative <a href="/ggi/">Handbook</a>.
      </p>
    </div>
  </div>
</div>
